#seccion {
    width: 1200px;
    height: 1000px;
    background-color: rgb(214, 152, 65);
    max-width: 0 auto;
}

img {
    display: block;
    border: 1px sloid rgb(214, 152, 37);
    margin: 0 auto;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

ul{
    background-color: rgb(173, 24, 24);
}